/*
Author: @su55k
Study place: HSE
*/

*{margin:0; padding:0}

body {
    background-color: #ccabb1;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #b54759;
    width: 1350px;
    height: 120px;
    position: fixed;
}

.header-text {
    position: relative;
    top: 30px;
    text-align: center;
}

menu {
    position: fixed;
    width: 120px;
    height: 500px;
    background-color: #6ad474;
    margin-top: 150px;
    margin-left: 5px;
}

.menu-text {
    text-align: left;
    margin: 20px;
    margin-left: 25px;
}
.menu-items {
    text-align: left;
    line-height: 60px;
    margin-left: 25px;
}

article {
    background-color: #eaf279;
    text-align: center;
    position: relative;
}

.article-text-formatting {
    margin: 50px 20px 50px 20px;
}
#article1 {
    display: inline-block;
    width: 720px;
    height: 100px;
    top: 120px;
    left: 300px;
}

#article2 {
    width: 200px;
    height: 200px;
    top: 50px;
    left: 300px;    
    position: relative;
}

#article3 {
    width: 200px;
    height: 200px;
    top: -29%;
    left: 60.8%;
    position: relative;
}

.notification {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    line-height: 30px;
    text-align: center;
    top: -20px;
    left: -20px;
    position: absolute;
}

.footer-text {
    left: 300px;
    bottom: 80px;
    margin-right: 50%;
    position: relative;
}