.input {
    line-height: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px 5px;
    border: 1px solid #eee;
    display: flex;
  
    &:focus {
      outline: none;
    }
  
    &-theme-dark {
      border: none;
      width: 160px;
      background-color: #121212;
      border-bottom: 1px solid #ffffffb3;
      color: #ffffffb3;
      border-radius: 0;
      transition-duration: 0.3s;
  
      &:hover {
        border-bottom: 1px solid #ff9800;
      }
  
      &:focus {
        border-bottom: 1px solid #ff5722;
        box-shadow: 0px 0px 5px 0px rgba(255, 153, 0, 0.37);
        border-radius: 3px 3px 0 0;
      }
    }
  
    &-theme-light {
      border: 1px solid #c7c7c7;
      width: 120px;
      padding: 4px 12px;
      transition-duration: 0.3s;
  
      &:hover {
        border-color: #2979ff;
      }
  
      &:focus {
        box-shadow: 0px 0px 5px 0px #2978ffb9;
        border-color: #2979ff;
      }
    }
  }
.add-btn {
  display: flex;
  flex-direction: column;
  &-theme-dark {
    border: none;
    width: 80px;
    background-color: #121212;
    border-bottom: 1px solid #ffffffb3;
    color: #ffffffb3;
    border-radius: 0;
    transition-duration: 0.3s;

    &:hover {
      border-bottom: 1px solid #ff9800;
    }

    &:focus {
      border-bottom: 1px solid #ff5722;
      box-shadow: 0px 0px 5px 0px rgba(255, 153, 0, 0.37);
      border-radius: 3px 3px 0 0;
    }
  }

  &-theme-light {
    border: 1px solid #c7c7c7;
    width: 90px;
    padding: 4px 12px;
    transition-duration: 0.3s;

    &:hover {
      border-color: #2979ff;
    }

    &:focus {
      box-shadow: 0px 0px 5px 0px #2978ffb9;
      border-color: #2979ff;
    }
  }
}

.heading {
  display: flex;
  flex-direction: row;

  &-theme-dark {
      color: white;
  }

  &-theme-white {
      color: black;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80vmax;

  &-theme-dark {
      background-color: rgb(17, 15, 15);
      border: 1px solid rgb(196, 192, 192);
  }

  &-theme-light {
      background-color: blanchedalmond;
      border: 1px solid rgb(16, 40, 87);
      transition-duration: 0.2s;
  }
}
  