@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.task-blocks {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80vmax;

    &-theme-dark {
        border: 1px solid rgb(196, 192, 192);
        background-color: rgb(17, 42, 73);
    }
    &-theme-light {
        border: 1px solid rgb(16, 40, 87);
        transition-duration: 0.2s;
        background-color: rgb(233, 222, 222);
    }
}

.task-name {
    width: max-content;
    padding: 10px 40px 10px 40px;
    height: 2.5vmax;
    text-align: center;
    position: relative;
    left: 2%;
    line-height: 2vmax;
    &-theme-dark {
        color: blanchedalmond;
    }
    &-theme-light {
        color: black;
    }
}

.task-description {
    width: 20vmax;
    padding: 10px 40px;
    height: max-content;
    text-align: center;
    position: relative;
    left: 2%;
    bottom: 6.5vmax;
    line-height: 2vmax;
    &-theme-dark {
        color: blanchedalmond;
    }
    &-theme-light {
        color: black;
    }
}

.task-completeness {
    border: 1px solid;
    width: fit-content;
    height: 2.5vmax;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    left: 70%;
    &-theme-dark {
        color: blanchedalmond;
    }
    &-theme-light {
        color: black;
    }
}

.btn {
    border: 1.5px solid black;
    padding: 12px 24px;
    transition-duration: 0.4s;
    position: relative;
    left: 38%;
    bottom: 2vmax;
    width: 20vmax;

    &-theme-dark {
        background-color: rgb(221, 92, 92);
    }

    &-theme-light {
        background-color: rgb(64, 94, 160);
    }
}

.btn:hover {
    background-color: rgb(111, 211, 111);
    color: white;
}
